<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Typing Game</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>

  <body>
    <div id="app" class="container">
      <div class="title">
        <h1>Typing Game</h1>
        <div class="marker"></div>
      </div>
      <div v-if="started">
        <div class="question mb-20">{{ currentQuestion }}</div>

        <div v-if="finished" class="clear">
          <p>Clear!</p>
          <button class="start mb-20" @click="gameStart">RESTART</button>
        </div>
        <div v-else class="typeFormWrapper mb-20">
          <input ref="input" v-model="inputValue" type="text" class="typeForm" />
        </div>

        <div class="gaugeWrapper mb-20">
          <div v-bind:style="styleObject" class="gauge"></div>
        </div>
        <div>{{ currentQuestionIndex }}/{{ questionCount }}</div>
      </div>

      <button v-else class="start mb-20" @click="gameStart">
        START
      </button>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          started: false,
          currentQuestionIndex: 0,
          questions: ["apple", "banana", "chocolate", "donut", "espresso"],
          inputValue: "",
        },
        computed: {
          finished() {
            return this.currentQuestionIndex === this.questionCount;
          },

          questionCount() {
            return this.questions.length;
          },

          currentQuestion() {
            return this.questions[this.currentQuestionIndex];
          },

          styleObject: function () {
            width = 20 * this.currentQuestionIndex + "%";
            if (this.finished) {
              color = "#03a9f4";
            } else {
              color = "orange";
            }
            return {
              width: width,
              "background-color": color,
            };
          },
        },
        methods: {
          gameStart: function () {
            this.started = true;
            this.currentQuestionIndex = 0;

            this.$nextTick(function () {
              this.$refs['input'].focus();
            });
          },
        },

        watch: {
          inputValue: function (value) {
            value = value.toLowerCase();
            if (value == this.currentQuestion) {
              this.inputValue = "";
              this.currentQuestionIndex++;
            }
          },
        },
      });
    </script>
  </body>
</html>
