<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Typing Game</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>

  <body>
    <div id="app" class="container">
      <div class="title">
        <h1>Typing Game</h1>
        <div class="marker"></div>
      </div>
      <div v-if="started">
        <div class="question mb-20">{{ currentQuestion }}</div>

        <div v-if="currentQuestionCounts == questionCounts" class="clear">
          <p>Clear!</p>
          <button
            class="start mb-20"
            onclick="location.href='http://mikiy.html.xdomain.jp/vue_quiz/index_typing.html'"
          >
            RESTART
          </button>
        </div>
        <div
          v-if="currentQuestionCounts != questionCounts"
          class="typeFormWrapper mb-20"
        >
          <input id="typeForm" v-model="typeBox" type="text" class="typeForm" />
        </div>

        <div class="gaugeWrapper mb-20">
          <div v-bind:style="styleObject" class="gauge"></div>
        </div>
        <div>{{ currentQuestionCounts }}/{{ questionCounts }}</div>
      </div>

      <button v-else class="start mb-20" @click="gameStart">
        START
      </button>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          started: false,
          currentQuestion: "",
          questions: ["apple", "banana", "chocolate", "donut", "espresso"],
          typeBox: "",
          currentQuestionCounts: 0,
          questionCounts: 0,
        },
        computed: {
          styleObject: function () {
            width = 20 * this.currentQuestionCounts + "%";
            if (this.currentQuestionCounts == 5) {
              color = "#03a9f4";
            } else {
              color = "orange";
            }
            return {
              width: width,
              "background-color": color,
            };
          },
        },
        methods: {
          gameStart: function () {
            this.started = true;

            this.$nextTick(function () {
              document.getElementById("typeForm").focus();
            });
          },
        },

        mounted: function () {
          this.currentQuestion = this.questions[0];
          this.questionCounts = this.questions.length;
        },

        watch: {
          typeBox: function (e) {
            e = e.toLowerCase();
            if (e == this.currentQuestion) {
              this.questions.splice(0, 1);
              this.currentQuestion = this.questions[0];
              this.typeBox = "";
              this.currentQuestionCounts = this.currentQuestionCounts + 1;
            }
          },
        },
      });
    </script>
  </body>
</html>
